.popup-container {
    width: 400px;  /* Change this value to make the popup wider */
    height: 300px; /* Change this value to make the popup taller */
    padding: 10px;
    background-color: #ffffffd7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.header{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: monospace;
    padding: 10px;
    background-color: #f0f0f0;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.question-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 12px;
    width: 40%;
    max-width: 300px;
    box-sizing: border-box;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

form {
    margin: 20px auto;
    max-width: 400px;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}